MFA_StockQuote/RemoteFiles/stockquote.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions targetNamespace="http://www.webserviceX.NET/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="stockquote_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="StockQuoteSoap12" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="StockQuoteHttpPost" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="StockQuoteHttpGet" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="StockQuoteSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="stockquote_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetQuoteSoapIn">
    <wsdl:part element="tns:GetQuote" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteSoapOut">
    <wsdl:part element="tns:GetQuoteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetIn">
    <wsdl:part name="symbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostIn">
    <wsdl:part name="symbol" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostOut">
    <wsdl:part element="tns:string" name="Body"/>
  </wsdl:message>
  <wsdl:portType name="StockQuoteSoap">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation>Get Stock quote for a company Symbol</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteSoapIn"/>
      <wsdl:output message="tns:GetQuoteSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuoteHttpGet">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation>Get Stock quote for a company Symbol</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpGetIn"/>
      <wsdl:output message="tns:GetQuoteHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockQuoteHttpPost">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation>Get Stock quote for a company Symbol</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpPostIn"/>
      <wsdl:output message="tns:GetQuoteHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockQuoteSoap" type="tns:StockQuoteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://www.webserviceX.NET/GetQuote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuoteSoap12" type="tns:StockQuoteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetQuote">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetQuote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuoteHttpGet" type="tns:StockQuoteHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockQuoteHttpPost" type="tns:StockQuoteHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockQuote">
    <wsdl:port binding="tns:StockQuoteSoap" name="StockQuoteSoap">
      <soap:address location="http://www.webservicex.net/stockquote.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:StockQuoteSoap12" name="StockQuoteSoap12">
      <soap12:address location="http://www.webservicex.net/stockquote.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:StockQuoteHttpGet" name="StockQuoteHttpGet">
      <http:address location="http://www.webservicex.net/stockquote.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:StockQuoteHttpPost" name="StockQuoteHttpPost">
      <http:address location="http://www.webservicex.net/stockquote.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>